   {{!--contactUs_section--}}
<section id="contact_us_section " class="py-4 banner_color">
<div class="container ">
    <h2 class=" text-center text-primary">Contact US</h2>
    <div class="row">
        <div class="col-md-12">
            
            
            
      <form action="/getFormData" method="post">      
  <div class="mb-4">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name= "email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text text-dark">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-4">
    <label for="inputNumber" class="form-label">Your contact number</label>
    <input name ="contactNumber" type="number" class="form-control" id="inputNumber">
  </div>

<div class="form-floating mt-5">
  <textarea name ="query" style="height:300px "class="form-control" placeholder="Enter your query here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Your query</label>
</div>
  
<div class="container text-center">
     <button type="submit" class="btn btn-primary">Submit</button>
</div>
  
</form>
  </div>
    </div>
</div>
</section>


{{!--About us section --}}
<div class="about_us pt-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h3>About Our Company</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus molestias veniam in impedit maiores quibusdam cum a. 
          Magnam, nulla molestiae et numquam nostrum, doloremque modi ea dolor nisi dolorum quaerat!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore quod, autem reprehenderit praesentium totam eos porro deserunt 
          obcaecati dolore ad provident hic veniam earum quae omnis! Fugit, dolore sequi?</p>
          <button class=" btn btn-success btn-md"> About Us</button>
      </div>
    </div>
  </div>
</div>

{{!-- footerSection --}}

<section class="footer">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-12 text-center">
        @2022 Copyright:<span>The tech Siksha</span>
      </div>
    </div>
  </div>
</section>`